body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('render404.png');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

h1{
    position: absolute;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top:1035px;
    text-shadow: 0 10px 30px rgba(255, 255, 255, 0.6);
    left:300px;
    user-select: none;
    transition: 0.4s;
    font-weight: bold;
}

h1:hover{
    font-size: 250%;
    left:250px;
}

h1:active{
    color:blanchedalmond;
}

a{
    position: absolute;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    top:1046px;
    text-shadow: 0 10px 30px rgba(255, 255, 255, 0.6);
    left:700px;
    user-select: none;
    font-size: 290%;
    transition: 0.3s;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    font-size: 320%;
}

a:active{
    font-size: 280%;
}

.transitionn{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 999;
    animation: fadeOut 1s forwards;
    animation-delay: 0s;
}


@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; display: none; }
}
